.terminal-color {
    color: transparent;
    margin: 0;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.4), 0 0 1px rgba(101, 168, 223, 1),
      0 0 2px rgba(101, 168, 223, 0.5), 3px 0 6px rgba(101, 168, 223, 0.3),
      -3px 0 6px rgba(101, 168, 223, 0.3), 5px 0 8px rgba(101, 168, 223, 0.1),
      -5px 0 8px rgba(101, 168, 223, 0.1);
  }
  
  p.cursor-after::after {
    content: "█";
    animation: cursor 1s infinite;
  }
  
  div.command::before {
    content: "\00a0\00a0\00a0\00a0";
    display: inline-block;
  }
  
  div.command.active::before {
    content: "\00a0\00a0\00a0>\00a0";
    animation: cursor 1s infinite;
  }
  
  div.command.active.backButton::before {
    content: "\00a0\00a0\00a0<\00a0";
    animation: cursor 1s infinite;
  }
  
  @keyframes cursor {
    5% {
      text-shadow: 0 0 0px rgba(255, 255, 255, 0.4), 0 0 1px #65a8df,
        0 0 2px rgba(101, 168, 223, 0.5), 3px 0 6px rgba(101, 168, 223, 0.3),
        -3px 0 6px rgba(101, 168, 223, 0.3), 5px 0 8px rgba(101, 168, 223, 0.1),
        -5px 0 8px rgba(101, 168, 223, 0.1);
    }
    45% {
      text-shadow: 0 0 0px rgba(255, 255, 255, 0.4), 0 0 1px rgba(101, 168, 223, 1),
        0 0 2px rgba(101, 168, 223, 0.5), 3px 0 6px rgba(101, 168, 223, 0.3),
        -3px 0 6px rgba(101, 168, 223, 0.3), 5px 0 8px rgba(101, 168, 223, 0.1),
        -5px 0 8px rgba(101, 168, 223, 0.1);
    }
    55% {
      text-shadow: 0 0 0px rgba(29, 83, 142, 0), 0 0 1px rgba(101, 168, 223, 0),
        0 0 2px rgba(101, 168, 223, 0);
    }
    95% {
      text-shadow: 0 0 0px rgba(29, 83, 142, 0), 0 0 1px rgba(101, 168, 223, 0),
        0 0 2px rgba(101, 168, 223, 0);
    }
  }
  
  .cursor {
    display: inline-block;
    position: relative;
    top: 0.05em;
    left: -0.05em;
    transform: scale(0.7, 0.8);
    -webkit-animation-name: cursor;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  